:root {
  --primaryWhite: rgb(254, 254, 254);
  --primaryGrey: rgba(128, 128, 128, 0.473);
  --primaryDarkGrey: rgb(99, 99, 99);
  --primaryBlue: rgb(97, 175, 243);
  --secondaryBlue: rgb(45, 152, 246);
  --primaryDarkBlue: rgba(97, 175, 243, 0.102);
  --secondaryDarkBlue: rgba(68, 205, 255, 0.099);
  --primaryOrange: rgb(237, 99, 0);
  --primaryDarkOrange: rgb(255, 106, 0);
}
